.git
.github
.env
.env.*
!.env.example
!.env.production.example
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.venv
**/*.egg-info
**/*.py[cod]
**/node_modules
**/.next
**/.next-build
backups
docs
var
